This exercise will require you to pull some data from the Qunadl API. Qaundl is currently the most widely used aggregator of financial market data.

As a first step, you will need to register a free account on the http://www.quandl.com website.

After you register, you will be provided with a unique API key, that you should store:

In [120]:
# Store the API key as a string - according to PEP8, constants are always named in all upper case
API_KEY = 'dgT3F_sPU6i52sLDHixg'

Qaundl has a large number of data sources, but, unfortunately, most of them require a Premium subscription. Still, there are also a good number of free datasets.

For this mini project, we will focus on equities data from the Frankfurt Stock Exhange (FSE), which is available for free. We'll try and analyze the stock prices of a company called Carl Zeiss Meditec, which manufactures tools for eye examinations, as well as medical lasers for laser eye surgery: https://www.zeiss.com/meditec/int/home.html. The company is listed under the stock ticker AFX_X.

You can find the detailed Quandl API instructions here: https://docs.quandl.com/docs/time-series

While there is a dedicated Python package for connecting to the Quandl API, we would prefer that you use the *requests* package, which can be easily downloaded using *pip* or *conda*. You can find the documentation for the package here: http://docs.python-requests.org/en/master/

Finally, apart from the *requests* package, you are encouraged to not use any third party Python packages, such as *pandas*, and instead focus on what's available in the Python Standard Library (the *collections* module might come in handy: https://pymotw.com/3/collections/ ).
Also, since you won't have access to DataFrames, you are encouraged to us Python's native data structures - preferably dictionaries, though some questions can also be answered using lists.
You can read more on these data structures here: https://docs.python.org/3/tutorial/datastructures.html

Keep in mind that the JSON responses you will be getting from the API map almost one-to-one to Python's dictionaries. Unfortunately, they can be very nested, so make sure you read up on indexing dictionaries in the documentation provided above.

In [121]:
# First, import the relevant modules
import requests
import json
import numpy as np
import pandas as pd
import statistics
import math

In [122]:
# Now, call the Quandl API and pull out a small sample of the data (only one day) to get a glimpse
# into the JSON structure that will be returned
r=requests.get("https://www.quandl.com/api/v3/datasets/WIKI/FB/data.json?start_date=2015-05-26&end_date=2015-05-26&api_key="+API_KEY)

In [123]:
# Inspect the JSON structure of the object you created, and take note of how nested it is,
# as well as the overall structure
r.json()

{'dataset_data': {'limit': None,
  'transform': None,
  'column_index': None,
  'column_names': ['Date',
   'Open',
   'High',
   'Low',
   'Close',
   'Volume',
   'Ex-Dividend',
   'Split Ratio',
   'Adj. Open',
   'Adj. High',
   'Adj. Low',
   'Adj. Close',
   'Adj. Volume'],
  'start_date': '2015-05-26',
  'end_date': '2015-05-26',
  'frequency': 'daily',
  'data': [['2015-05-26',
    80.43,
    80.6,
    79.08,
    79.335,
    16321339.0,
    0.0,
    1.0,
    80.43,
    80.6,
    79.08,
    79.335,
    16321339.0]],
  'collapse': None,
  'order': None}}

These are your tasks for this mini project:

1. Collect data from the Franfurt Stock Exchange, for the ticker AFX_X, for the whole year 2017 (keep in mind that the date format is YYYY-MM-DD).
2. Convert the returned JSON object into a Python dictionary.
3. Calculate what the highest and lowest opening prices were for the stock in this period.
4. What was the largest change in any one day (based on High and Low price)?
5. What was the largest change between any two days (based on Closing Price)?
6. What was the average daily trading volume during this year?
7. (Optional) What was the median trading volume during this year. (Note: you may need to implement your own function for calculating the median.)

In [124]:
r=requests.get("https://www.quandl.com/api/v3/datasets/FSE/AFX_X?start_date=2017-01-01&end_date=2017-12-31&api_key="+API_KEY)

In [125]:
'2. Convert the returned JSON object into a Python dictionary.'

'2. Convert the returned JSON object into a Python dictionary.'

In [126]:
r1=r.json()

In [127]:
type(r1)

dict

In [128]:
data_list = r1['dataset']['data']

In [129]:
type(data_list)

list

In [130]:
'3. Calculate what the highest and lowest opening prices were for the stock in this period.'

'3. Calculate what the highest and lowest opening prices were for the stock in this period.'

In [131]:
open=sorted([i[1] for i in data_list if i[1] is not None])

In [132]:
open[0] #minimum opening

34.0

In [133]:
open[-1] #maximum opening

53.11

In [134]:
'4. What was the largest change in any one day (based on High and Low price)?'

'4. What was the largest change in any one day (based on High and Low price)?'

In [135]:
one = [(i[2],i[3]) for i in data_list if i[2] is not None and i[3] is not None]

In [136]:
t=[]
for t1,t2 in one:
    t.append(t1-t2)
print(sorted(t)[-1])

2.8100000000000023

In [137]:
'5. What was the largest change between any two days (based on Closing Price)?'

'5. What was the largest change between any two days (based on Closing Price)?'

In [138]:
change_close = [i[4] for i in data_list]

In [139]:
sorted([j-i for i, j in zip(change_close[:-1], change_close[1:])])[-1]

2.559999999999995

In [140]:
'6. What was the average daily trading volume during this year?'

'6. What was the average daily trading volume during this year?'

In [141]:
volume = [i[6] for i in data_list]

In [142]:
statistics.mean(volume)

89124.33725490196

In [143]:
statistics.median(volume)

76286.0

In [144]:
'7. (Optional) What was the median trading volume during this year. '  
'(Note: you may need to implement your own function for calculating the median.)'

'(Note: you may need to implement your own function for calculating the median.)'

In [145]:
def find_median(list):
    sorted_list = sorted(list)
    return sorted_list[math.floor(len(sorted_list) / 2)]
find_median(volume)

76286.0

In [146]:
# Answers using Dataframes

In [147]:
df = pd.DataFrame.from_dict(r1['dataset']['data'])

In [148]:
df.columns=r1['dataset']['column_names']

In [149]:
df = df.set_index('Date')

In [150]:
'3. Calculate what the highest and lowest opening prices were for the stock in this period.'

'3. Calculate what the highest and lowest opening prices were for the stock in this period.'

In [151]:
df.Open.max()

53.11

In [152]:
df.Open.min()

34.0

In [153]:
'4. What was the largest change in any one day (based on High and Low price)?'

'4. What was the largest change in any one day (based on High and Low price)?'

In [154]:
df['Change']= df['High'] - df['Low']

In [155]:
df['Change'].max()

2.8100000000000023

In [156]:
'5. What was the largest change between any two days (based on Closing Price)?'

'5. What was the largest change between any two days (based on Closing Price)?'

In [157]:
df['Close'].diff().max()

2.559999999999995

In [158]:
'6. What was the average daily trading volume during this year?'

'6. What was the average daily trading volume during this year?'

In [159]:
df['Traded Volume'].mean()

89124.33725490196

In [160]:
'7. (Optional) What was the median trading volume during this year.'

'7. (Optional) What was the median trading volume during this year.'

In [161]:
df['Traded Volume'].median()

76286.0

In [162]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 255 entries, 2017-12-29 to 2017-01-02
Data columns (total 10 columns):
Open                     252 non-null float64
High                     255 non-null float64
Low                      255 non-null float64
Close                    255 non-null float64
Change                   255 non-null float64
Traded Volume            255 non-null float64
Turnover                 255 non-null float64
Last Price of the Day    0 non-null object
Daily Traded Units       0 non-null object
Daily Turnover           0 non-null object
dtypes: float64(7), object(3)
memory usage: 21.9+ KB

In [163]:
df.head()

,Open,High,Low,Close,Change,Traded Volume,Turnover,Last Price of the Day,Daily Traded Units,Daily Turnover
Date,,,,,,,,,,
2017-12-29,51.76,51.94,51.45,51.76,0.49,34640.0,1792304.0,None,None,None
2017-12-28,51.65,51.82,51.43,51.60,0.39,40660.0,2099024.0,None,None,None
2017-12-27,51.45,51.89,50.76,51.82,1.13,57452.0,2957018.0,None,None,None
2017-12-22,51.05,51.50,50.92,51.32,0.58,71165.0,3641949.0,None,None,None
2017-12-21,51.16,51.52,50.90,51.40,0.62,120649.0,6179433.0,None,None,None